.up {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 99;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--accent-500);
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
}

.up:hover {
    scale: 1.1;
}


@media (max-width: 900px) {
    .up {
       display: none;
    }
}